In [2]:
import pandas as pd
import numpy as np

Turning categorical variables to quantittative

In [4]:
df = pd.read_csv("./binned_auto_data.csv")
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 27 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          204 non-null    int64
 1   normalized-losses  164 non-null    float64
 2   make               204 non-null    object
 3   fuel-type          204 non-null    object
 4   aspiration         204 non-null    object
 5   num-of-doors       202 non-null    object
 6   body-style         204 non-null    object
 7   drive-wheels       204 non-null    object
 8   engine-location    204 non-null    object
 9   wheel-base         204 non-null    float64
 10  length             204 non-null    float64
 11  width              204 non-null    float64
 12  height             204 non-null    float64
 13  curb-weight        204 non-null    int64
 14  engine-type        204 non-null    object
 15  num-of-cylinders   204 non-null    object
 16  engine-size        204 non-null    int64
 17  fuel-system        204 non-null    object
 18  bore               200 non-null    float64
 19  stroke             200 non-null    float64
 20  compression-ratio  204 non-null    float64
 21  horsepower         202 non-null    float64
 22  peak-rpm           202 non-null    float64
 23  city-L/100km       204 non-null    float64
 24  highway-mpg        204 non-null    int64
 25  price              204 non-null    int64
 26  price-binned       204 non-null    object
dtypes: float64(11), int64(5), object(11)
memory usage: 43.2+ KB

In [5]:
df["fuel-type"]

0         gas
1         gas
2         gas
3         gas
4         gas
        ...
199       gas
200       gas
201       gas
202    diesel
203       gas
Name: fuel-type, Length: 204, dtype: object

In [7]:
pd.get_dummies(df["fuel-type"])

     diesel    gas
0     False   True
1     False   True
2     False   True
3     False   True
4     False   True
..      ...    ...
199   False   True
200   False   True
201   False   True
202    True  False
203   False   True

[204 rows x 2 columns]